:root {
    /* general color */
    --color-green: #075e54;
    --color-green-sd: #128c7e;
    --color-green-l: #25d366;
    --color-green-ul: #dcf8c6;
    --color-azure: #34b7f1;
    --color-gray: #ece5dd;
    --color-bg-body: linear-gradient(180deg,#eae6df, #d1d7db);
    /* text color */
    --color-text-primary: #111B21;
    --color-text-secodary: #667781;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}