:root {
    /* general color */
    --color-green: #075e54;
    --color-green-sd: #05a884;
    --color-green-l: #25d366;
    --color-green-msg: #d9fdd2;
    --color-azure: #34b7f1;
    --color-gray-general: #f0f2f5;
    --color-gray-divider: #e9edef;
    --color-gray-divider-section: #d1d7db;
    --color-gray-object: #54656f;
    --color-gray-msg-time: #667781;
    --color-white: #fff;
    --color-bg-body: linear-gradient(to bottom,  var(--color-green-sd) 125px, #eae6df 125px 80%, #d1d7db);
    
    /* text color */
    --color-text-primary: #111B21;
    --color-text-secodary: #667781;

    /* size profile setting */
    --header-h: 60px;
    --searchbar-h: 50px;
    --contact-h: calc(100% - var(--header-h) - var(--searchbar-h));
    --contact__archeved-h: 45px;
    --contact__chat-h: 80px;

    /* size main chat setting */
    --chat-footer-h: 62px;
}

/********************
    GENERAL SETTING
**********************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--color-bg-body);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    color: var(--color-text-primary);
    font-size: 16px;
    font-weight: 400;
}

p {
    color: var(--color-text-primary);
    font-size: 14.2px;
}

/********************
APP CONTAINER SETTING
**********************/
#app-boolzapp {
    height: 100vh;
    width: 100vw;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/********************
LEFT SECTION (PROFILE)
**********************/
.boolzapp__container {
    width: 90%;
    height: 90%;
    display: flex;
}

.profile__container {
    flex: 0 0 30%;
    max-width: 30%;
    border-right: 1px solid var(--color-gray-divider-section);
}

/* profile info */
.profile__header {
    background-color: var(--color-gray-general);
    height: var(--header-h);
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__header__picture {
    flex: 0 0 50px;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.profile__header__picture img {
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.profile__header__settings {
    color: var(--color-gray-object);
    font-size: 20px;
    margin-right: 1rem;
    display: flex;
    gap: 1.5rem;
}

/* searchbar */
.profile__searchbar {
    background-color: var(--color-white);
    height: var(--searchbar-h);
    padding: 8px;
    border-bottom: 1px solid var(--color-gray-divider);
    display: flex;
    align-items: center;
}

.searchbar__container {
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.searchbar__container i {
    position: absolute;
    margin-left: 10px;
}

.searchbar__container input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: var(--color-gray-general);
    padding-left: 35px;
}

.profile__searchbar .filter__ico {
    color: var(--color-gray-object);
    margin-left: 10px;
    padding: 8px;
}

/* chat list section */
.profile__contacts {
    background-color: var(--color-white);
    height: var(--contact-h);
    overflow-y: auto;
    overflow-x: hidden;
}

/* archived chats */
.profile__contacts__archived {
    height: var(--contact__archeved-h);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.archived__ico {
    color:var(--color-green-sd);
    flex: 0 0 80px;
    padding: 12px;
    display: flex;
    justify-content: center;
}

.archived__info {
    flex: 0 0 70%;
}

/* chat preview */
.profile__contacts__chat {
    height: var(--contact__chat-h);
    display: flex;
}

.profile__contacts__chat:hover {
    background-color: var(--color-gray-divider);
    cursor: pointer;
}

.profile__picture {
    flex: 0 0 80px; /* NO RESPONSIVE */
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__picture img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.profile__chat__preview {
    flex: 1 1 auto;
    border-top: 1px solid var(--color-gray-divider);
    padding: 0 15px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .15rem;
    white-space: nowrap;
    overflow: hidden;
}

.profile__chat__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__chat__name span {
    color: var(--color-text-secodary);
    font-size: 12px;
}

.profile__message__preview {
    color: var(--color-text-secodary);
    overflow: hidden;
    text-overflow: ellipsis;
}

.divider__end__chat {
    background-color: var(--color-gray-divider);
    height: 1px;
    width: 90%;
    margin: 10px auto;
}

/********************
RIGHT SECTION (CHAT)
**********************/
.chat__container {
    flex: 0 0 70%;
    max-width: 70%;
}

/* chat header */
.chat__header {
    background-color: var(--color-gray-general);
    height: var(--header-h);
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat__profile__info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.chat__profile__info img {
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.chat__profile__status {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.chat__profile__status p {
    color: var(--color-text-secodary);
    font-size: 12px;
}

.chat__setting i {
    color:var(--color-gray-object);
    font-size: 20px;
    margin-right: 1rem;
}

/* main chat */
.chat__main {
    background-image: url(../img/bg-white.png);
    background-position: center;
    background-size: contain;
    height: calc(100% - var(--header-h) - var(--chat-footer-h));
    padding-top: 15px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

/* message */
.message {
    padding: 6px 45px 8px 9px;
    margin: 0px 9% 5px 9%;
    max-width: 30%;
    border-radius: 10px;
    position: relative;
    overflow-wrap: break-word;
}

.message.sent {
    align-self: flex-end;
    background-color: var(--color-green-msg);
}

.message.received {
    align-self: flex-start;
    background-color: var(--color-white);
}

.message__info {
    display: none;
    color: var(--color-gray-object);
    font-size: 16px;
    padding: 2px 5px 5px 5px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 5px;
    z-index: 1;
    cursor: pointer;
}

.message:hover .message__info {
    display: block;
}

.message__info.green {
    background: radial-gradient(#d9fdd2 50%, transparent);
}

.message__info.white {
    background: radial-gradient(#fff 50%, transparent);
}

.message__info__dropdown {
    background-color: white;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    box-shadow: 1px 1px 2px 2px rgba(0 0 0 / .1);
}

.message__info__dropdown.to-left {
    top: 75%;
    right: 10px;
}

.message__info__dropdown.to-right {
    left: 75%;
}

.message__info__dropdown span:first-child {
    margin-bottom: 1rem;
}

.message__time {
    color: var(--color-gray-msg-time);
    padding: 0 10px 5px;
    font-size: 11px;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* chat footer */
.chat__footer {
    background-color: var(--color-gray-general);
    height: var(--chat-footer-h);
    padding: 5px 17px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat__footer__icons, .chat__footer__vocal {
    color: var(--color-gray-object);
    font-size: 24px;
    padding: 10px 8px;
    display: flex;
}

.chat__footer__icons i {
    margin-right: 15px;
}

.chat__footer__vocal {
    margin-left: 15px;
}

.chat__footer input[type=text] {
    font-size: 16px;
    width: 90%;
    height: 42px;
    border: none;
    border-radius: 10px;
    padding: 10px 12px;
}