<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.png">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- style -->
    <link rel="stylesheet" href="css/style.css">
    <style>[v-cloak] {display: none;}</style>
    <!-- luxon -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.0/build/global/luxon.min.js" defer></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" defer></script>
    <script src="javascript/script.js" defer></script>
</head>
<body>
    
    <div id="app-boolzapp" v-cloak>

        <section class="boolzapp__container">

            <!------------------------
               LEFT SECTION (PROFILE)
            -------------------------->
            <div class="profile__container">

                <!-- profile info -->
                <div class="profile__header">
                    <div class="profile__header__picture">
                        <img src="img/avatar_io.jpg" alt="">
                        <h1>Giuseppe</h1>
                    </div>
                    <div class="profile__header__settings">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i @click="showDropdownTheme" class="fa-solid fa-chevron-down"></i>
                      
                        <!-- theme switch -->
                        <div v-show="themeSwitchShow" class="profile__switch__theme">
                            <input @change="toggleTheme" id="checkbox" type="checkbox" class="switch-checkbox" />
                            <label for="checkbox" class="switch-label">Cambia Tema</label>
                        </div>
                    </div>
                </div>

                <!-- searchbar -->
                <div class="profile__searchbar">

                    <div class="searchbar__container">
                        <i v-if="inputSearchEmpty" class="fa-solid fa-magnifying-glass"></i>
                        <i v-else @click="cleanInputSearch()" class="fa-solid fa-arrow-left"></i>
                        <input v-model="inputSearch" @keyup="searchContacts()" type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>

                    <i class="fa-solid fa-filter filter__ico"></i>
                </div>

                <!-- chat list section -->
                <div class="profile__contacts">

                    <!-- archived chats  -->
                    <div v-show="!notFound" class="profile__contacts__archived">
                        <div class="archived__ico">
                            <i class="fa-solid fa-box-archive"></i>
                        </div>
                        <div class="archived__info">
                            <h1>Archiviate</h1>
                        </div>
                    </div>

                    <!-- chat preview -->
                    <div @click="showChat(i)" v-for="(contact, i) in contacts" :key="contact.avatar" v-show="contact.visible" class="profile__contacts__chat">
                        <div class="profile__picture">
                            <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                        </div>
                        <div class="profile__chat__preview">
                            <div class="profile__chat__name">
                                <h1>{{contact.name}}</h1>
                                <span>{{ contact.messages[contact.messages.length - 1].date.slice(11, 16) }}</span>
                            </div>
                            <p class="profile__message__preview">{{ contact.messages[contact.messages.length - 1].message }}</p>
                        </div>
                    </div>

                    <!-- no contact found -->
                    <div v-show="notFound" class="profile__contacts__not-found">Nessna chat, contatti o messaggi trovati</div>

                    <div class="divider__end__chat"></div>
                    <div class="text__end__chat">I tuoi messaggi personali sono <a href="#">crittografati end-to-end</a>.</div>
                </div>

            </div>

            <!------------------------
               RIGHT SECTION (CHAT)
            -------------------------->
            <div class="chat__container">
                
                <!-- chat header -->
                <div class="chat__header">
                    <div class="chat__profile__info">
                        <img :src="'img/avatar' + contacts[currentChat].avatar + '.jpg'" alt="">
                        <div class="chat__profile__status">
                            <h1>{{ contacts[currentChat].name }}</h1>
                            <p>{{ contactStatus[statusIndex] + (statusIndex === 0 ? contacts[currentChat].messages[contacts[currentChat].messages.length - 1].date.slice(11, 16) : '') }}</p>
                        </div>
                    </div>
                    <div class="chat__setting">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <!-- main chat -->
                <div class="chat__main">

                    <!-- message -->
                    <div v-for="(message, i) in contacts[currentChat].messages" class="message" :class="message.status">
                        <p :class="{ message__deleted: message.message_deleted
                        }">{{ message.message }}</p>
                        <div @click="showDropdown(i)" class="message__info" :class="[message.status === 'sent' ? 'green' : 'white']">
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div v-show="message.show" class="message__info__dropdown" :class="[message.status === 'sent' ? 'to-left' : 'to-right']">
                            <span>Info messaggio</span>
                            <span @click="deleteMessage()">Elimina messaggio</span>
                        </div>
                        <div class="message__time">{{ message.date.slice(11, 16) }}</div>
                    </div>

                </div>

                <!-- chat footer -->
                <div class="chat__footer">
                    <div class="chat__footer__icons">
                        <i class="fa-regular fa-face-grin"></i>
                        <i class="fa-solid fa-paperclip"></i>
                    </div>
                    <input @keyup="setIconSendMessage()" @keyup.enter="sendMessage()" v-model="newMessage" type="text" placeholder="Scrivi un messaggio">
                    <div class="chat__footer__vocal">
                        <i v-if="sendMessageEmpty" class="fa-solid fa-microphone"></i>
                        <i v-else @click="sendMessage()" class="fa-regular fa-paper-plane"></i>
                    </div>
                </div>
            </div>

        </section>
    </div>
</body>
</html>